
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>َLogin</title>
<meta name="viewport" content="width:device-width,initial scale=1"/>
<link rel="stylesheet" href="/css/stylelogin.css" type="text/css">
</head>
<body>
 <form class="box" action="/index1" method="Post">
  <img th:src="@{/images/virtusa-logo.png}" />
  <h1>Society Management</h1>
  <h1>Login</h1>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <p th:text="${message}" style="color:red"></p>
  <input type="submit" name="" value="Login">
</form>
</body>
</html>

